<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <!--Redirect selected traffic to index -->
        <rule name="Index Rule" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/api/" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.htm" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>
<!-- 
  Not 100% sure what this is doing - especially the conditions section - is this needed / what are REQUEST_FILENAME & REQUEST_URI ?
  Could really do with a much better understanding - please help if you can
  See: http://stackoverflow.com/questions/25916851/wrapping-staticfilemiddleware-to-redirect-404-errors
       http://stephenwalther.com/archive/2015/01/16/asp-net-5-and-angularjs-part-3-adding-client-routing
  -->

